$nav-color: #c70025;
$nav-width: 240px;
$curve-height: 120px;

@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');

.navbar-fixed-left {
  width: $nav-width;
  position: fixed;
  border-radius: 0;
  background-color: $nav-color;
  height: 75%;
  color: white;
  a {
    color: white;
  }
  .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: $nav-width - 1;
    padding: 0.75em 0;
  }
}

.nav-back{
  @extend .navbar-fixed-left;
  height: 100%;
}

.navbar-top{
  background-color: $nav-color;
  color: white;
  a {
    color: white;
  }
}

.navbar-brand{
  font-size: 72px;
  font-family: 'Nothing You Could Do', 'Helvetica', sans-serif;
}

.navbar-toggle{
  float: right;
}

.navbar-toggle{
  display: none;
}

.curve-back{
  background-color: $nav-color;
  height: $curve-height;
  padding-left: $nav-width;
}

.curve-front{
  @extend .curve-back;
  background-color: white;
  border-radius: $curve-height 0 0 0;
}

.container{
  padding-left: $nav-width;
}

@media only screen and (max-width: 636px) {
    .navbar-fixed-left, .curve-front, .curve-back{
      display: none;
    }

    .navbar-toggle{
      display: initial;
    }

    .container{
      padding-top: 32px;
      padding-left: 32px;
    }
    .navbar-brand{
      font-size: 36px;
    }
}
