$nav-color: #c70025;
$example-color: rgba( $nav-color, .2 );
$nav-width: 240px;
$reduce-width: 180px;
$curve-height: 120px;
$reduce-curve: 90px;

@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');

.navbar-fixed-left {
  width: $nav-width;
  position: fixed;
  border-radius: 0;
  background-color: $nav-color;
  color: white;
  a {
    color: white;
  }
  .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: $nav-width - 1;
    padding: 0.75em 0;
  }
}

.navbar-toggler-icon{
  color: black;
}

.navbar-collapse > .navbar-nav > li {
  padding: 0.75em 0;
}

.nav-back{
  @extend .navbar-fixed-left;
  height: 100%;
}

.navbar-top{
  background-color: $nav-color;
  color: white;
  a {
    color: white;
  }
}

#active{
  background-color: white;
  padding-left: 8px;
  width: $nav-width - 32px;
  border-radius: 6px;
  a{
    color: $nav-color;
  }
}

.navbar-brand{
  font-size: 72px;
  font-family: 'Nothing You Could Do', 'Helvetica', sans-serif;
}

.navbar-toggle{
  float: right;
  display: none;
}

.curve-back{
  background-color: $nav-color;
  height: $curve-height;
  padding-left: $nav-width;
}

.curve-front{
  @extend .curve-back;
  background-color: white;
  border-radius: $curve-height 0 0 0;
}

.container{
  padding-left: $nav-width + 16px;
  p{
    max-width: 750px;
  }
}

table{
  width: 85%;
  margin: 1.25em auto;
}

td {
  border: 1px solid black;
  padding: 6px;
}

th {
  @extend td;
  background-color: $nav-color;
  color: white;
}

.container > ul {
  @extend table;
  list-style-type: none;
  background-color: $example-color;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: lighter;
  border-radius: 24px;
  border: 1px solid black;
}

@media only screen and (max-width: 936px) {
  .navbar-fixed-left {
    width: $reduce-width;
    .navbar-nav > li {
      width: $reduce-width - 12;
    }
  }

  #active{
    width: $reduce-width - 32px;
  }

  .curve-back{
    height: $reduce-curve;
    padding-left: $reduce-width;
  }

  .curve-front{
    background-color: white;
    border-radius: $reduce-curve 0 0 0;
  }

  .container{
    padding-left: $reduce-width;
  }

  .navbar-brand{
    font-size: 36px;
  }
}

@media only screen and (max-width: 636px) , screen and (max-height: 472px){
  .navbar-fixed-left, .curve-front, .curve-back{
    display: none;
  }

  #active{
    width: 100%;
  }

  .navbar-toggle{
    display: initial;
  }

  .container{
    padding-top: 32px;
    padding-left: 32px;
  }

  .navbar-brand{
    font-size: 24px;
  }
}
